extends ../layout-anonymous

block content
	div.container#installer
		div.row
			div.col-lg-8.col-lg-offset-2
				h1= title
				hr
				div.alert-danger.alert.
					p There was an error installing Mariachi. Check your console logs for more information.