script(type="text/template", class="message")
	div.container
		div.row
			div(class="alert-<%= type %>").alert.alert-dismissable
				button(type="button", class="close", data-dismiss="alert", aria-hidden="true") &times;
				p <%= message %>