nav(role="navigation").navbar.navbar-inverse.navbar-fixed-top
  div.container
    div.navbar-header
      a(href="/").navbar-brand Mariachi
    div.collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.navbar-nav
        li 
          a(href="servers") Servers
        li
          a(href="users") Users
        li
          a(href="recepies") Recepies
        li
          a(href="templates") Templates
        li
          a(href="sites") Sites
        li
          a(href="tasks") Tasks
      ul.nav.navbar-nav.pull-right
        li.dropdown
          a(href="#", data-toggle="dropdown").dropdown-toggle Luis Elizondo
            b.caret
          ul.dropdown-menu
            li
              a(href="#") Configure account
              a(href="logout") Logout