extends layout

block content
	include ./templates/applications/viewApplication
	include ./templates/applications/addApplication
	include ./templates/applications/editApplication
	include ./templates/applications/deleteApplication
	include ./templates/applications/deployApplication
	include ./templates/applications/listApplications

	div#page
		div#header
			div.container
				div.col-lg-12.col-md-12.col-sm-12.col-xs-12
					div.row
						h1= title
							div.pull-right
								a(href="#projects/add").btn.btn-primary Add project
						br
				div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
					div.row
						div#messages
						div#content
block scripts
	script(type="text/javascript", src="javascripts/app/models/Models.js");
	script(type="text/javascript", src="javascripts/app/collections/Collections.js");
	script(type="text/javascript", src="javascripts/app/views/ProjectsView.js");
	script(type="text/javascript", src="javascripts/app/routers/ProjectsRouter.js")
	script(type="text/javascript").
		function main() {
			new Mariachi.Routers.ProjectsRouter();
			Backbone.history.start();	
		}

		// Initialize main
		$(function(){
			main();
		});