extends layout

block content
	script(type="text/template", class="viewProject")
		div.row
			div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
				h3 <%= name %>
					div.btn-group.pull-right
						a(href="#", class="btn btn-success dropdown-toggle", data-toggle="dropdown") Actions
							span.caret
						ul(role="menu").dropdown-menu
							li
								<a href="#projects/deploy/<%= id %>">Deploy</a>
							li
								<a href="#projects/history/<%= id %>">Deploy history</a>
							li
								<a href="#projects/edit/<%= id %>">Edit</a>
							li
								<a href="#projects/delete/<%= id %>">Delete</a>
				hr
				div(class="col-lg-9 col-md-9 col-sm-9 col-xs-12")
					div.row
						h4 Project Type:
						p <%= type %>
						br
						p <%= description %>
						br
	script(type="text/template", class="addProject")
		div.row
			div(class="col-lg-12")
				h3 Add Project
				form(role="form").form-horizontal.well.row
					div.col-lg-6
						div.form-group
							label.control-label.col-sm-3 Type
							div.col-sm-9
								select(name="type", id="type", class="form-control")
									option() - Select -
									option(value="nodejs") Node.js
									option(value="joomla") Joomla
									option(value="wordpress") Wordpress
									option(value="drupal6") Drupal 6
									option(value="drupal7") Drupal 7
								span.help-block Type of the project
						div.form-group
							label.control-label.col-sm-3 Name
							div.col-sm-9
								input(type="text", name="name", class="form-control", id="name")
								span.help-block Name of the Project
						div.form-group
							label.control-label.col-sm-3 FQDN
							div.col-sm-9
								input(type="text", name="fqdn", class="form-control", id="fqdn", placeholder="www.example.com")
								span.help-block Full Qualified Domain Name
						div.form-group
							label.control-label.col-sm-3 Web server
							div.col-sm-9
								select(name="webServer", id="webServer", class="form-control")
								span.help-block Web server (Only Apache is supported)
						div.form-group
							label.control-label.col-sm-3 Code archive
							div.col-sm-9
								input(type="text", name="codeArchive", class="form-control", id="codeArchive" placeholder="git@github.com/example:project.git")
								span.help-block Git address where the code lives, I must be able to clone the repository
						div.form-group
							label.control-label.col-sm-3 Code Branch
							div.col-sm-9
								input(type="text", name="codeBranch", class="form-control", id="codeBranch" placeholder="master")
								span.help-block Git branch to clone for the code
						div.form-group
							label.control-label.col-sm-3 Destination directory
							div.col-sm-9
								input(type="text", name="destinationDirectory", class="form-control", id="destinationDirectory", placeholder="/srv/www/www.example.com/public_html")
								span.help-block Destination directory, do not add a trailing slash
						div.form-group
							label.control-label.col-sm-3 Logs directory
							div.col-sm-9
								input(type="text", name="logsDirectory", class="form-control", id="logsDirectory", placeholder="/srv/www/www.example.com/logs")
								span.help-block Logs directory, do not add a trailing slash
					div.col-lg-6
						div.form-group
							label.control-label.col-sm-3 Database server
							div.col-sm-9
								select(name="databaseServer", id="databaseServer", class="form-control")
								span.help-block Web server
						div.form-group
							label.control-label.col-sm-3 Database archive
							div.col-sm-9
								input(type="text", name="databaseArchive", class="form-control", id="databaseArchive", placeholder="git@github.com/example:database.git")
								span.help-block Database must be gziped, example: database.sql.gz
						div.form-group
							label.control-label.col-sm-3 Database filename
							div.col-sm-9
								input(type="text", name="databaseFilename", class="form-control", id="databaseFilename", placeholder="mydatabase.sql.gz")
								span.help-block Filename of the database file to clone
						div.form-group
							label.control-label.col-sm-3 Database type
							div.col-sm-9
								select(name="databaseType", id="databaseType", class="form-control")
									option(value="mysql") MySQL
									option(value="mongodb") MongoDB
								span.help-block Database type
						div.form-group
							label.control-label.col-sm-3 Database name
							div.col-sm-9
								input(type="text", name="databaseName", class="form-control", id="databaseName", placeholder="mydatabase")
								span.help-block Name of the database
						div.form-group
							label.control-label.col-sm-3 Database user
							div.col-sm-9
								input(type="text", name="databaseUser", class="form-control", id="databaseUser", placeholder="root")
								span.help-block Database user
						div.form-group
							label.control-label.col-sm-3 Database password
							div.col-sm-9
								input(type="password", name="databasePassword", class="form-control", id="databasePassword", placeholder="cookies")
								span.help-block Database password
						div.form-group
							label.control-label.col-sm-3 Database port
							div.col-sm-9
								input(type="text", name="databasePort", class="form-control", id="databasePort", placeholder="3306")
								span.help-block Database port
						div.form-group
							label.control-label.col-sm-3 Create database and user?
							div.col-sm-9
								div.radio
									label
										input(type="radio", class="createDatabase", name="createDatabase", value="no" checked)
										p No
								div.radio
									label
										input(type="radio", class="createDatabase", name="createDatabase", value="yes") 
										p Yes
						div.form-database.hidden
							div.form-group
								label.control-label.col-sm-3 Database User with Privileges
								div.col-sm-9
									input(type="text", name="databaseUserRoot", id="databaseUserRoot", class="form-control")
							div.form-group
								label.control-label.col-sm-3 Password
								div.col-sm-9
									input(type="password", name="databasePasswordRoot", id="databasePasswordRoot", class="form-control")

					div.row
						button(type="submit", class="btn btn-primary", id="submit") Save
	script(type="text/template", class="editProject")
		div.row
			div(class="col-lg-6")
				h3 Add server
				form(role="form").well
					div.form-group
						label Name
						<input type="text" name="name" class="form-control" id="name" value="<%= name %>" />
						span.help-block Name
					div.form-group
						label Email
						<input type="text" name="email" class="form-control" id="email" value="<%= email %>" />
						span.help-block Email
					div.form-group
						label Password
						<input type="password" name="password" class="form-control" id="password" />
						span.help-block Password
					button(type="submit", class="btn btn-primary", id="submit") Update
	
	script(type="text/template", class="deleteProject")
		div 
			p 
				strong Are you sure you want to delete the Project <%= name %>?
		button(type="submit", id="submit").btn.btn-danger Confirm delete
		a(href="/Projects").btn.btn-primary Cancel

	//- deploy recepie
	script(type="text/template", class="deployProject")
		div.row
			div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
				h3 Deploy project: <%= name %>
					div.btn-group.pull-right
						a(href="#", class="btn btn-success dropdown-toggle", data-toggle="dropdown") Actions
							span.caret
						ul(role="menu").dropdown-menu
							li
								<a href="#projects/<%= id %>">View</a>
							li
								<a href="#projects/history/<%= id %>">Deploy history</a>
							li
								<a href="#projects/edit/<%= id %>">Edit</a>
							li
								<a href="#projects/delete/<%= id %>">Delete</a>
				hr
				div.row
					div(class="col-lg-9 col-md-9 col-sm-9 col-xs-12")
						h4 Project Type:
						p <%= type %>
						form(role="form")
							br
							button(type="button", id="execute").btn.btn-success Deploy
							br
				div(class="col-lg-3 col-md-3 col-sm-3")
		div.row.results.hidden
			div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
				h4 Results
				div.row
					div(class="col-lg-10 col-md-10 col-sm-10 col-xs-10")
						span#started
						span
						span#ended
					div(class="col-lg-2 col-md-2 col-sm-2 col-xs-2")
						div.pull-right
							span#deployStatus
				hr
				div
					span(class="label label-info") stdout
				br
				div.well.stdout
				div
					span(class="label label-danger") stderr
				br
				div.well.stderr  
	script(type="text/template", class="listProjects")
		div.row
			div(class="col-lg-9 col-md-9 col-sm-12 col-xs-12")	
				table.table.table-hover.table-striped
					thead
						th.col-lg-11.col-md-11.col-sm-11.col-xs-11 Name
						th 
					tbody
						<% _.each(items, function(item) { %>
						tr.item
							td
								<a href="#projects/<%= item.id %>"><%= item.name %></a>
							td 
								<a href="#projects/<%= item.id %>" class="btn btn-default">View</a>
						<% }) %>
	div#page
		div#header
			div.container
				div.col-lg-12.col-md-12.col-sm-12.col-xs-12
					div.row
						h1= title
							div.pull-right
								a(href="#projects/add").btn.btn-primary Add project
						br
				div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
					div.row
						div#messages
						div#content
block scripts
	script(type="text/javascript", src="javascripts/app/models/Models.js");
	script(type="text/javascript", src="javascripts/app/collections/Collections.js");
	script(type="text/javascript", src="javascripts/app/views/ProjectsView.js");
	script(type="text/javascript", src="javascripts/app/routers/ProjectsRouter.js")
	script(type="text/javascript")
		function main() {
			new Mariachi.Routers.ProjectsRouter();
			Backbone.history.start();	
		}

		// Initialize main
		$(function(){
			main();
		});