extends layout

block content
	//- Parameters
	script(type="text/template", class="parameter")
		div.form-group
			label <%= parameter.parameter %>
			<input type="text" name="<%= parameter.parameter %>" id="<%= parameter.parameter %>" class="form-control parameter-input" />

	//- View Recepie
	script(type="text/template", class="viewRecepie")
		div.row
			div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
				h3 <%= name %>
					div.btn-group.pull-right
						a(href="#", class="btn btn-success dropdown-toggle", data-toggle="dropdown") Actions
							span.caret
						ul(role="menu").dropdown-menu
							li
								<a href="#recepies/execute/<%= id %>">Execute</a>
							li
								<a href="#recepies/history/<%= id %>">Execution history</a>
							li
								<a href="#recepies/edit/<%= id %>">Edit</a>
							li
								<a href="#recepies/delete/<%= id %>">Delete</a>
				hr
				div(class="col-lg-9 col-md-9 col-sm-9 col-xs-12")
					div.row
						p <%= description %>
						br
						<% if(parameters) { %>
						h4 Parameters
						div.well.code <%= parameters %>
						<% } %>
						h4 Recepie
						div.well.code <%= recepie.replace(new RegExp('\r?\n', 'g'), '<br />') %>

	//- Add recepie
	script(type="text/template", class="addRecepie")
		div.row
			div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
				h3 Add recepie
				hr
				form(role="form").well
					div.form-group
						label Name
						input(type="text", name="name", class="form-control", id="name")
						span.help-block Name of the recepie
					div.form-group
						label Description
						textarea(name="description", class="form-control", id="description", rows="3")
						span.help-block Enter a brief description of the recepie
					div.form-group
						label Parameters
						input(type="text", name="parameters", class="form-control", id="parameters")
						span.help-block Enter parameters separated by commas, the parameters you define here can be used in your recepie.
					div.form-group
						label Recepie
						textarea(name="recepie", class="form-control", id="recepie", rows="15")
						span.help-block Enter a bash script recepie
					button(type="submit", class="btn btn-primary", id="submit") Save

	//- edit recepie
	script(type="text/template", class="editRecepie")
		div.row
			div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
				h3 Edit recepie
					div.btn-group.pull-right
						a(href="#", class="btn btn-success dropdown-toggle", data-toggle="dropdown") Actions
							span.caret
						ul(role="menu").dropdown-menu
							li
								<a href="#recepies/<%= id %>">View</a>
							li
								<a href="#recepies/execute/<%= id %>">Deploy</a>
							li
								<a href="#recepies/history/<%= id %>">Execute history</a>
							li
								<a href="#recepies/delete/<%= id %>">Delete</a>
				hr
				form(role="form").well
					div.form-group
						label Name
						<input type="text" name="name" class="form-control" id="name" value="<%= name %>" />
						span.help-block Name of the recepie
					div.form-group
						label Description
						textarea(name="description", class="form-control", id="description", rows="3") <%= description %>
						span.help-block Enter a brief description of the recepie
					div.form-group
						label Parameters
						<input type="text" name="parameters" class="form-control" id="parameters" value="<%= parameters %>" />
						span.help-block Enter parameters separated by commas, the parameters you define here can be used in your recepie.
					div.form-group
						label Recepie
						textarea(name="recepie", class="form-control", id="recepie", rows="15") <%= recepie %>
						span.help-block Enter a bash script recepie
					button(type="submit", class="btn btn-primary", id="submit") Update

	//- execute recepie
	script(type="text/template", class="executeRecepie")
		div.row
			div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
				h3 Execute recepie: <%= name %>
					div.btn-group.pull-right
						a(href="#", class="btn btn-success dropdown-toggle", data-toggle="dropdown") Actions
							span.caret
						ul(role="menu").dropdown-menu
							li
								<a href="#recepies/<%= id %>">View</a>
							li
								<a href="#recepies/history/<%= id %>">Execute history</a>
							li
								<a href="#recepies/edit/<%= id %>">Edit</a>
							li
								<a href="#recepies/delete/<%= id %>">Delete</a>
				hr
				div.row
					div(class="col-lg-9 col-md-9 col-sm-9 col-xs-12")
						p <%= description %>
						form(role="form")
							br
							div.form-group
								label(for="servers") Server
								select(id="servers", name="servers", class="form-control")
									option() - Select -
							div.form-group.templatesParametersContainer
								label Parameters
								div.parameters.well
									div
							button(type="button", id="execute").btn.btn-success Execute
							br
				div(class="col-lg-3 col-md-3 col-sm-3")
		div.row.results.hidden
			div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
				h4 Results
					div
						small
							span#started
						small 
							span#ended
					div.pull-right
						small
							span#deployStatus
				hr
				div
					span(class="label label-info") stdout
				br
				div.well.stdout
				div
					span(class="label label-danger") stderr
				br
				div.well.stderr  

	//- delete recepie
	script(type="text/template", class="deleteRecepie")
		div.row
			div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
				h3 Delete recepie: <%= name %>
				hr
				div.well
					h4 Are you sure you want to delete the recepie <%= name %>?
					br
					div.btn-group
						button(type="submit", id="submit").btn.btn-danger Confirm delete
						<a href="recepies#recepies/<%= id %>" class="btn btn-primary">Cancel</a>

	//- list recepies
	script(type="text/template", class="listRecepies")
		div.row
			div(class="col-lg-9 col-md-9 col-sm-12 col-xs-12")
				table.table.table-hover.table-striped
					thead
						th.col-lg-11.col-sm-11.col-md-11.col-xs-11 Name
						th 
					tbody
						<% _.each(items, function(item) { %>
						tr.item
							td 
								<a href="#recepies/<%= item.id %>"><%= item.name %></a>
								div
									small <%= item.description %>
							td 
								<a href="#recepies/<%= item.id %>" class="btn btn-default">View</a>
						<% }) %>

	div#page
		div#header
			div.container
				div.col-lg-12.col-md-12.col-sm-12.col-xs-12
					div.row
						h1= title
							div.pull-right
								a(href="#recepies/add").btn.btn-primary Add recepie
						br
				div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
					div.row
						div#messages
						div#content

block scripts
	script(type="text/javascript", src="javascripts/app/models/Models.js");
	script(type="text/javascript", src="javascripts/app/collections/Collections.js");
	script(type="text/javascript", src="javascripts/app/views/RecepiesView.js");
	script(type="text/javascript", src="javascripts/app/routers/RecepiesRouter.js")
	script(type="text/javascript")
		function main() {
			new Mariachi.Routers.RecepiesRouter();
			Backbone.history.start();	
		}

		// Initialize main
		$(function(){
			main();
		});