extends layout

block content
	script(type="text/template", class="viewServer")
		div.row
			div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
				div.hidden.sshCommand This is the command
				h3 <%= name %>
					div.btn-group.pull-right
						button().sshHelp.btn.btn-warning Help
						a(href="#", class="btn btn-success dropdown-toggle", data-toggle="dropdown") Actions
							span.caret
						ul(role="menu").dropdown-menu
							li
								<a href="#servers/edit/<%= id %>">Edit</a>
							li
								<a href="#servers/delete/<%= id %>">Delete</a>
				hr
				div(class="col-lg-9 col-md-9 col-sm-9 col-xs-12")
					div.row
						div.form-group
							label Address:  
							p <%= address %>
						div.form-group
							label Operating System:  
							p <%= os %>

	script(type="text/template", class="addServer")
		div.row
			div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
				h3 Add server
				hr
				form(role="form").well
					div.form-group
						label Name
						input(type="text", name="name", class="form-control", id="name")
						span.help-block Name of the server
					div.form-group
						label IP address
						input(type="text", name="address", class="form-control", id="address")
						span.help-block IP address or FQDM of the server
					div.form-group
						label SSH User
						input(type="text", user="ssh_user", class="form-control", id="ssh_user")
						span.help-block User to use when connecting to the server
					div.form-group
						label SSH Port
						input(type="text", user="ssh_port", class="form-control", id="ssh_port", placeholder="22")
						span.help-block SSH Port to use
					div.form-group
						label Group
						input(type="text", user="group", class="form-control", id="group")
					div.form-group
						label Tags
						input(type="text", user="tags", class="form-control", id="tags")
					div.form-group
						label Operating System
						select(name="os", id="os").form-control
							option(value="Ubuntu 12.04") Ubuntu 12.04 
							option(value="Centos 5") Centos 5
					button(type="submit", class="btn btn-primary", id="submit") Save

	script(type="text/template", class="editServer")
		div.row
			div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
				h3 Edit server
					div.btn-group.pull-right
						a(href="#", class="btn btn-success dropdown-toggle", data-toggle="dropdown") Actions
							span.caret
						ul(role="menu").dropdown-menu
							li
								<a href="#servers/<%= id %>">View</a>
							li
								<a href="#servers/delete/<%= id %>">Delete</a>
				hr
				form(role="form").well
					div.form-group
						label Name
						<input type="text" name="name" class="form-control" id="name" value="<%= name %>" />
						span.help-block Name of the server
					div.form-group
						label IP address
						<input type="text" name="address" class="form-control" id="address" value="<%= address %>" />
						span.help-block IP address or FQDM of the server
					div.form-group
						label SSH User
						<input type="text" name="ssh_user" class="form-control" id="ssh_user" value="<%= ssh_user %>" />
						span.help-block User to use when connecting to the server
					div.form-group
						label SSH Port
						<input type="text" name="ssh_port" class="form-control" id="ssh_port" value="<%= ssh_port %>" />
						span.help-block SSH Port to use
					div.form-group
						label Group
						<input type="text" name="group" class="form-control" id="group" value="<%= group %>" />
					div.form-group
						label Tags
						<input type="text" name="tags" class="form-control" id="tags" value="<%= tags %>" />
					div.form-group
						label Operating System
						select(name="os", id="os").form-control
							option(value="Ubuntu 12.04") Ubuntu 12.04 
							option(value="Centos 5") Centos 5
					button(type="submit", class="btn btn-primary", id="submit") Update

	script(type="text/template", class="deleteServer")
		div.row
			div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
				h3 Delete server: <%= name %>
				hr
				div.well
					h4 Are you sure you want to delete the server <%= name %>?
					br
					div.btn-group
						button(type="submit", id="submit").btn.btn-danger Confirm delete
						<a href="servers#servers/<%= id %>" class="btn btn-primary">Cancel</a>

	script(type="text/template", class="listServers")
		div.row
			div(class="col-lg-9 col-md-9 col-sm-12 col-xs-12")
				table.table.table-hover.table-striped
					thead
						th.col-lg-11.col-md-11.col-sm-11.col-xs-11 Name
						th 
					tbody
						<% _.each(items, function(item) { %>
						tr.item
							td 
								<a href="#servers/<%= item.id %>"><%= item.name %></a>
								div
									small <%= item.address %> | OS: <%= item.os %>
							td 
								<a href="#servers/<%= item.id %>" class="btn btn-default">View</a>
						<% }) %>

	div#page
		div#header
			div.container
				div.col-lg-12.col-md-12.col-sm-12.col-xs-12
					div.row
						h1= title
							div.pull-right.btn-group
								a(href="#servers/add").btn.btn-primary Add server
								a(href="#servers/actions").btn.btn-info Refresh status @
						br
				div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
					div.row
						div#messages
						div#content
block scripts
	script(type="text/javascript", src="javascripts/app/models/Models.js");
	script(type="text/javascript", src="javascripts/app/collections/Collections.js");
	script(type="text/javascript", src="javascripts/app/views/ServersView.js");
	script(type="text/javascript", src="javascripts/app/routers/ServersRouter.js")
	script(type="text/javascript")
		function main() {
			new Mariachi.Routers.ServersRouter();
			Backbone.history.start();	
		}

		$(function(){
			main();
		});