extends layout

block content
	//- Parameters
	script(type="text/template", class="parameter")
		div.form-group
			label <%= parameter.parameter %>
			<input type="text" name="<%= parameter.parameter %>" id="<%= parameter.parameter %>" class="form-control parameter-input" />

	//- View template
	script(type="text/template", class="viewTemplate")
		div.row
			div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
				h3 <%= name %>
					div.btn-group.pull-right
						a(href="#", class="btn btn-success dropdown-toggle", data-toggle="dropdown") Actions
							span.caret
						ul(role="menu").dropdown-menu
							li
								<a href="#templates/deploy/<%= id %>">Deploy</a>
							li
								<a href="#templates/history/<%= id %>">Deploy history</a>
							li
								<a href="#templates/edit/<%= id %>">Edit</a>
							li
								<a href="#templates/delete/<%= id %>">Delete</a>
				hr
				div(class="col-lg-9 col-md-9 col-sm-9 col-xs-12")
					div.row
						p <%= description %>
						br
						h4 Destination
						div.well <%= destination %>
						<% if(parameters) { %>
						h4 Parameters:  
						div.well.code <%= parameters %>
						<% } %>
						h4 Template
						div.well.code <%= template.replace(new RegExp('\r?\n', 'g'), '<br />') %>

	//- Add template
	script(type="text/template", class="addTemplate")
		div.row
			div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
				h3 Add template
				form(role="form").well
					div.form-group
						label Name
						input(type="text", name="name", class="form-control", id="name")
						span.help-block Name of the template
					div.form-group
						label Description
						textarea(name="description", class="form-control", id="description", rows="3")
						span.help-block Enter a brief description of the template
					div.form-group
						label Destination
						input(type="text", name="destination", class="form-control", id="destination")
						span.help-block Full path and filename
					div.form-group
						label Parameters
						input(type="text", name="parameters", class="form-control", id="parameters")
						span.help-block Parameters to replace on execution. Eg. name, some_variable, memory_limit, destination
					div.form-group
						label Template
						textarea(name="template", class="form-control", id="template", rows="15")
						span.help-block Full template file using parameters, only the parameters in the parameters input field will be replaced. Parameters can be defined as {{}}, if you need to escape special characters use {{{}}}
					button(type="submit", class="btn btn-primary", id="submit") Save

	//- Edit template
	script(type="text/template", class="editTemplate")
		div.row
			div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
				h3 Add server
				form(role="form").well
					div.form-group
						label Name
						<input type="text" name="name" class="form-control" id="name" value="<%= name %>" />
						span.help-block Name of the template
					div.form-group
						label Description
						textarea(name="description", class="form-control", id="description", rows="3") <%= description %>
						span.help-block Enter a brief description of the template
					div.form-group
						label Destination
						<input type="text" name="destination" class="form-control" id="destination" value="<%= destination %>" />
						span.help-block Full path and filename
					div.form-group
						label Parameters
						<input type="text" name="parameters" class="form-control" id="parameters" value="<%= parameters %>" />
						span.help-block Parameters to replace on execution. Eg. name, some_variable, memory_limit, destination
					div.form-group
						label Template
						textarea(name="template", class="form-control", id="template", rows="15") <%= template %>
						span.help-block Enter a bash script template
					button(type="submit", class="btn btn-primary", id="submit") Update
	
	//- Delete template
	script(type="text/template", class="deleteTemplate")
		div.row
			div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
				h3 Delete template <% name %>
				hr
				div.well
					h4 Are you sure you want to delete the template <%= name %>?
					br
					div.btn-group
						button(type="submit", id="submit").btn.btn-danger Confirm delete
						<a href="templates#templates/<%= id %>" class="btn btn-primary">Cancel</a>

	//- deploy recepie
	script(type="text/template", class="deployTemplate")
		div.row
			div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
				h3 Deploy template: <%= name %>
					div.btn-group.pull-right
						a(href="#", class="btn btn-success dropdown-toggle", data-toggle="dropdown") Actions
							span.caret
						ul(role="menu").dropdown-menu
							li
								<a href="#templates/<%= id %>">View</a>
							li
								<a href="#templates/history/<%= id %>">Deploy history</a>
							li
								<a href="#templates/edit/<%= id %>">Edit</a>
							li
								<a href="#templates/delete/<%= id %>">Delete</a>
				hr
				div.row
					div(class="col-lg-9 col-md-9 col-sm-9 col-xs-12")
						p <%= description %>
						form(role="form")
							br
							div.form-group
								label(for="servers") Server
								select(id="servers", name="servers", class="form-control")
									option() - Select -
							div.form-group
								label(for="destination") Filename destination
								<input type="text" id="destination" name="destination" class="form-control" value="<%= destination %>"/>
							div.form-group.templatesParametersContainer
								label Parameters
								div.parameters.well
									div
							button(type="button", id="execute").btn.btn-success Execute
							br
				div(class="col-lg-3 col-md-3 col-sm-3")
		div.row.results.hidden
			div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
				h4 Results
					div.row
					div(class="col-lg-10 col-md-10 col-sm-10 col-xs-10")
						span#started
						span
						span#ended
					div(class="col-lg-2 col-md-2 col-sm-2 col-xs-2")
						div.pull-right
							span#deployStatus
				hr
				div
					span(class="label label-info") stdout
				br
				div.well.stdout
				div
					span(class="label label-danger") stderr
				br
				div.well.stderr  

	//- List templates					
	script(type="text/template", class="listTemplates")
		div.row
			div(class="col-lg-9 col-md-9 col-sm-12 col-xs-12")	
				table.table.table-hover.table-striped
					thead
						th.col-lg-11.col-md-11.col-sm-11.col-xs-11 Name
						th 
					tbody
						<% _.each(items, function(item) { %>
						tr.item
							td
								<a href="#templates/<%= item.id %>"><%= item.name %></a>
								div
									small <%= item.description %>
							td 
								<a href="#templates/<%= item.id %>" class="btn btn-default">View</a>
						<% }) %>
	div#page
		div#header
			div.container
				div.col-lg-12.col-md-12.col-sm-12.col-xs-12
					div.row
						h1= title
							div.pull-right
								a(href="#templates/add").btn.btn-primary Add template
						br
				div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
					div.row
						div#messages
						div#content

block scripts
	script(type="text/javascript", src="javascripts/app/models/Models.js");
	script(type="text/javascript", src="javascripts/app/collections/Collections.js");
	script(type="text/javascript", src="javascripts/app/views/TemplatesView.js");
	script(type="text/javascript", src="javascripts/app/routers/TemplatesRouter.js")
	script(type="text/javascript")
		function main() {
			new Mariachi.Routers.TemplatesRouter();
			Backbone.history.start();	
		}

		// Initialize main
		$(function(){
			main();
		});