script(type="text/template", class="deleteProject")
	div 
		p 
			strong Are you sure you want to delete the Project <%= name %>?
	button(type="submit", id="submit").btn.btn-danger Confirm delete
	a(href="/Projects").btn.btn-primary Cancel